* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html, body {
  font-size: 70%;
  min-height: 100%;
}

#__next {
  height: 100%;
}

.swiper {
  width: 100%;
  height:100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.swiper-pagination-bullet {
  height: 1rem !important;
  width: 2rem !important;
}

.swiper-pagination-bullet-active {
  width: 5rem !important;
  border-radius: 5rem !important;
}


